{% extends "home/base.html" %}

{% block content %}
<!-- Primary Page Layout -->
<div class="container">
  <div class="row">
    <div class="one-third column" style="margin-top: 20%">
      <h1>{{ person.first_name }} {{ person.last_name }}</h1>
      <h6>{{ person.description }}</h6>
    </div>
  </div>


  <!-- Display Experience -->
  <div class="row">
    <div class="one-half column" style="margin-top: 7.5%">
      {% for experience in person.experience_set.all %}
      <h4>{{ experience.company }}</h4>
      <p style="margin-top: -4%">
	<strong>{{ experience.title }}</strong>
      </p>
      <p style="margin-top: -5%">
	<em>{{ experience.summary }}</em>
      </p>
      <ul>
	{% for accomplishment in experience.accomplishment_set.all %}
	<li>{{accomplishment.detail}}</li>
	{% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
